.winActie{
  width: 100vw;
  margin-bottom: 50px;
  margin-top: 20px;
  height: 400px;
  background-color: rgb(136,192,228);
  &Text{
    width: 500px;
    color: white;
    transform: translateX(400px);
    margin-top: 5em;
    p{
      width: 500px;
    }
    &CTA{
      margin-top: 1.5em;
      font-size: 1em;
      height: 3em;
      width: 300px;
      background-color: rgb(0,115,207);
      border-style: solid;
      border-color: white;
      border-radius: 5px;
      color: white;
    }
    &Ipad{
      position: absolute;
      transform: translateX(-706px) translateY(20px);
    }
  }
  &Image{
    margin-top: 3em;
  }
}